

<button type="button"  style="margin-left: -30px; margin-top: 10px;" class="kt-widget-15__foot-label btn btn-sm btn-label-brand btn-bold" >Delete</button>&nbsp;

<button type="button"  style="margin-left: 0px; margin-top: 10px;" class="kt-widget-15__foot-label btn btn-sm btn-label-brand btn-bold" >Export to</button>&nbsp;

<button type="button"  style="margin-left: -0px; margin-top: 10px;margin-right: -5px;" class="kt-widget-15__foot-label btn btn-sm btn-label-brand btn-bold" >Send to</button>


<div class="dropdown-divider" style="width:400px;margin-left: -40px;"></div>
<div class="kt-portlet__body" style="margin-left: -30px;">
    <div class="kt-widget-4">
        <div class="kt-widget-4__item">
            <div class="kt-widget-4__item-content">
                <div class="kt-widget-4__item-section">
                    <label class="kt-checkbox">
                        <input type="checkbox"> 
                        <span></span>
                    </label>
                    <span class="kt-badge kt-badge--success" style="width: 10px;height: 10px;margin-top:-40px;background:#64E455;"></span>
                    <div class="kt-widget-4__item-pic" style="margin-left: -10px;">
                        
                        <img class="" src="assets/media/users/100_3.jpg" alt="" />
                       
                    </div>
                    <div class="kt-widget-4__item-info">
                        <a href="#" class="kt-widget-4__item-username">Chris Bent</a>
                        <div class="kt-widget-4__item-desc">Product Launch</div>
                    </div>
                </div>
            </div>
            <div class="kt-widget-4__item-content">
                <div class="kt-widget-4__item-price">
                   
                    <span class="kt-widget-4__item-badge">online</span>
                </div>
            </div>
        </div>

        <div class="dropdown-divider" style="width:400px;margin-left: -40px;"></div>
        <div class="kt-widget-4__item">
            <div class="kt-widget-4__item-content">
                <div class="kt-widget-4__item-section">
                   
                    <label class="kt-checkbox">
                        <input type="checkbox"> 
                        <span></span>
                    </label>
                    <span class="kt-badge kt-badge--success" style="width: 10px;height: 10px;margin-top:-40px;background:#E33430;"></span>
                    <div class="kt-widget-4__item-pic" style="margin-left: -10px;">
                        <img class="" src="assets/media/users/100_4.jpg" alt="" />
                    </div>
                    <div class="kt-widget-4__item-info">
                        <a href="#" class="kt-widget-4__item-username">Ashley Stock</a>
                        <div class="kt-widget-4__item-desc">Product Recommendation</div>
                    </div>
                </div>
            </div>
            <div class="kt-widget-4__item-content">
                <div class="kt-widget-4__item-price">
                    <span class="kt-widget-4__item-badge">8 min ago</span>
                    <!-- <span class="kt-widget-4__item-number"></span> -->
                </div>
            </div>
        </div>
        <div class="dropdown-divider" style="width:400px;margin-left: -40px;"></div>
        <div class="kt-widget-4__item">
            <div class="kt-widget-4__item-content">
                <div class="kt-widget-4__item-section">
                    <label class="kt-checkbox">
                        <input type="checkbox"> 
                        <span></span>
                    </label>
                    <span class="kt-badge kt-badge--success" style="width: 10px;height: 10px;margin-top:-40px;background:#64E455;"></span>
                    <div class="kt-widget-4__item-pic" style="margin-left: -10px;">
                        <img class="" src="assets/media/users/100_5.jpg" alt="" />
                    </div>
                    <div class="kt-widget-4__item-info">
                        <a href="#" class="kt-widget-4__item-username">Jimmy Yesuku</a>
                        <div class="kt-widget-4__item-desc">Genral Survey</div>
                    </div>
                </div>
            </div>
            <div class="kt-widget-4__item-content">
                <div class="kt-widget-4__item-price">
                    <span class="kt-widget-4__item-badge">online</span>
                    <!-- <span class="kt-widget-4__item-number">194</span> -->
                </div>
            </div>
        </div>
        <div class="dropdown-divider" style="width:400px;margin-left: -40px;"></div>
        <div class="kt-widget-4__item">
            <div class="kt-widget-4__item-content">
                <div class="kt-widget-4__item-section">
                    <label class="kt-checkbox">
                        <input type="checkbox">
                        <span></span>
                    </label>
                    <span class="kt-badge kt-badge--success" style="width: 10px;height: 10px;margin-top:-40px;background:#E33430;"></span>
                    <div class="kt-widget-4__item-pic" style="margin-left: -10px;">
                        <img class="" src="assets/media/users/100_2.jpg" alt="" />
                    </div>
                    <div class="kt-widget-4__item-info">
                        <a href="#" class="kt-widget-4__item-username">Amanda West</a>
                        <div class="kt-widget-4__item-desc">Comboy Westem Limited</div>
                    </div>
                </div>
            </div>
            <div class="kt-widget-4__item-content">
                <div class="kt-widget-4__item-price">
                    <span class="kt-widget-4__item-badge">2 min ago</span>
                    <!-- <span class="kt-widget-4__item-number">65</span> -->
                </div>
            </div>
        </div>
        <div class="dropdown-divider" style="width:400px;margin-left: -40px;"></div>
        <div class="kt-widget-4__item">
            <div class="kt-widget-4__item-content">
                <div class="kt-widget-4__item-section">
                    <label class="kt-checkbox">
                        <input type="checkbox"> 
                        <span></span>
                    </label>
                    <span class="kt-badge kt-badge--success" style="width: 10px;height: 10px;margin-top:-40px;background:#64E455;"></span>
                    <div class="kt-widget-4__item-pic" style="margin-left: -10px;">
                        <img class="" src="assets/media/users/100_6.jpg" alt="" />
                    </div>
                    <div class="kt-widget-4__item-info">
                        <a href="#" class="kt-widget-4__item-username">Nick Holms</a>
                        <div class="kt-widget-4__item-desc">UILab Inc</div>
                    </div>
                </div>
            </div>
            <div class="kt-widget-4__item-content">
                <div class="kt-widget-4__item-price">
                    <span class="kt-widget-4__item-badge">online</span>
                    <!-- <span class="kt-widget-4__item-number">65</span> -->
                </div>
            </div>
        </div>
        <div class="dropdown-divider" style="width:400px;margin-left: -40px;"></div>
        
        <div class="kt-widget-4__item">
            <div class="kt-widget-4__item-content">
                <div class="kt-widget-4__item-section">
                   
                    <label class="kt-checkbox">
                        <input type="checkbox"> 
                        <span></span>
                    </label>
                    <span class="kt-badge kt-badge--success" style="width: 10px;height: 10px;margin-top:-40px;background:#64E455;"></span>
                    <div class="kt-widget-4__item-pic" style="margin-left: -10px;">
                        <img class="" src="assets/media/users/100_4.jpg" alt="" />
                    </div>
                    <div class="kt-widget-4__item-info">
                        <a href="#" class="kt-widget-4__item-username">Ashley Stock</a>
                        <div class="kt-widget-4__item-desc">Product Recommendation</div>
                    </div>
                </div>
            </div>
            <div class="kt-widget-4__item-content">
                <div class="kt-widget-4__item-price">
                    <span class="kt-widget-4__item-badge">online</span>
                    <!-- <span class="kt-widget-4__item-number"></span> -->
                </div>
            </div>
        </div>
        <div class="dropdown-divider" style="width:400px;margin-left: -40px;"></div>
    </div>
</div>
<!-- </div> -->