<div class="card">
    <div class="header">
        <div style="margin-top: 30px; margin-right: 800px; font-size: 15px;">Step 3 of 7</div>
    </div>
  
    <div class="container">
        <p style="margin-top: -30px; font-weight: bold; font-size: 25px;">RumiLabs</p>
        <!-- <img width="160" src="https://static.helloumi.com/daisho/img/logo-setup.png" alt="https://static.helloumi.com/daisho/img/logo-setup.png" class="img img-loaded"> -->
    </div>
  </div>

  <div class="div2">
    <div style="margin-top: -260px; margin-left: -200px;">
    <img width="500"  src="https://static.helloumi.com/daisho/img/onboarding_preview_0.png">
</div>
<div style="margin-left: -190px; margin-top: -580px;">
    <img width="550" src="https://static.helloumi.com/daisho/img/onboarding_preview_1.png">
</div>
</div>

<div style=" margin-left: 150px;">
    <div class="BotSetup__Wrapper">
        <div class="Setup__Avatar">
            <div class="Avatar__Menu">
                <div style="margin-top: -750px;">
                <h3 style="font-size: 21px; font-family: poppins; ">Pick an avatar for your bot</h3>
                <h5 style="font-size: 13px; font-family: poppins;">This gives a personal touch to your bot</h5>
                <i  style=" font-size: 30px; margin-left: -120px;" onclick="history.back()" class="fa fa-arrow-circle-left" aria-hidden="true"></i>
            </div><br>
            
            <div style="width: 420px; height: 100px;">
                <div class="avatarPicker__container">

                    <div class="avatarIcon_container">
                        <div class="avatarIcon">
                            <img width="35" src="https://storage.googleapis.com/media.helloumi.com/brands/helloumi.png" alt="https://storage.googleapis.com/media.helloumi.com/brands/helloumi.png" class="img img-loaded"></div><div class="avatarIcon selected"><img width="35" src="https://static.landbot.io/daisho/img/avatar1.png" alt="https://static.landbot.io/daisho/img/avatar1.png" class="img img-loaded">
                            </div>
                            <div class="avatarIcon">
                                <img width="35" src="https://static.landbot.io/daisho/img/avatar2.png" alt="https://static.landbot.io/daisho/img/avatar2.png" class="img img-loaded">
                            </div>
                            <div class="avatarIcon"><img width="35" src="https://static.landbot.io/daisho/img/avatar3.png" alt="https://static.landbot.io/daisho/img/avatar3.png" class="img img-loaded"></div><div class="avatarIcon"><img width="35" src="https://static.landbot.io/daisho/img/avatar5.png" alt="https://static.landbot.io/daisho/img/avatar5.png" class="img img-loaded">
                            </div>
                            <div class="avatarIcon">
                                <img width="35" src="https://static.landbot.io/daisho/img/avatar6.png" alt="https://static.landbot.io/daisho/img/avatar6.png" class="img img-loaded">
                            </div>
                            <div class="avatarIcon">
                                <img width="35" src="https://static.landbot.io/daisho/img/robot-face_google.png" alt="https://static.landbot.io/daisho/img/robot-face_google.png" class="img img-loaded">
                            </div>
                            <div class="avatarIcon">
                                <img width="35" src="https://static.landbot.io/daisho/img/robot-face_samsumg.png" alt="https://static.landbot.io/daisho/img/robot-face_samsumg.png" class="img img-loaded">
                            </div>
                            <div class="avatarIcon">
                                <img width="35" src="https://static.landbot.io/daisho/img/robot-face_twitter.png" alt="https://static.landbot.io/daisho/img/robot-face_twitter.png" class="img img-loaded"></div><div class="avatarIcon">
                <img width="35" src="https://static.landbot.io/daisho/img/robot-face_lg.png" alt="https://static.landbot.io/daisho/img/robot-face_lg.png" class="img img-loaded"></div><div class="avatarIcon"><img width="35" src="https://static.landbot.io/daisho/img/male-technologist_apple.png" alt="https://static.landbot.io/daisho/img/male-technologist_apple.png" class="img img-loaded"></div><div class="avatarIcon"><img width="35" src="https://static.landbot.io/daisho/img/female-technologist_apple.png" alt="https://static.landbot.io/daisho/img/female-technologist_apple.png" class="img img-loaded">
                </div>
                <div class="avatarIcon">
                    <img width="35" src="https://static.landbot.io/daisho/img/female-teacher_apple.png" alt="https://static.landbot.io/daisho/img/female-teacher_apple.png" class="img img-loaded">
                </div>
                <div class="avatarIcon">
                </div>
                </div>

                
            </div>
            </div>
                            <!-- <div class="divider"><div></div><p>OR</p><div></div></div> -->

            <br><br>
            
               
                <div style="width: 260px;">
                <button style="width: 400px;" type="button" class="btn btn-outline-brand" data-toggle="modal" data-target="#exampleModalCenter">
                Add an image
                </button><br>
                <!-- <i class="flaticon-upload" style="font-size: 20px; ;"></i> -->
                <br><br>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Send Media</h5><br>
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                    </button><br><br><br>
                    </div><br>

                    <div style="margin-top: -65px; margin-left: 50px;">
                        <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#kt_tabs_1_1" role="tab">UPLOAD YOUR FILE</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_tabs_1_2" role="tab">FROM URL</a>
                            </li>
                    
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_tabs_1_3" role="tab">GIPHY</a>
                            </li>
                    
                        </ul>
                    </div>

                    
                    <div class="modal-body">               
                        <div class="tab-content">    
                            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                                <i class="fa fa-upload" style="font-size: 35px; margin-left: 200px;" ></i><br>
                                <h2 style="font-size: 15px; margin-left: 170px;">Upload your file</h2>
    
                                <div style="margin-left: 90px;">
                                    <label class="bp3-file-input bp3-fill bp3-large">
                                    <input type="file" style="background-color: white;" class="dd" >
                                    </label>
                                    </div><br><br>
                            </div>
                            <div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">
                                <i class="fa fa-link" style="font-size: 35px; margin-left: 200px;" ></i><br>
                                <h2 style="font-size: 15px; margin-left: 170px;">Enter Url here..</h2><br>

                                <div style="margin-left: 100px;">
                                <div class="bp3-input-group bp3-large bp3-fill">
                                    <input type="text" class="bp3-input" placeholder="   https://..." value="" style="padding-right: 10px; height: 40px; width: 270px;">
                                </div> <br>
                            </div>                           
                        </div>

                            <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">
                                <i class="fa fa-link" style="font-size: 35px; margin-left: 200px;" ></i><br>
                                <h2 style="font-size: 15px; margin-left: 170px;">Enter Url here..</h2>

                                <div style="margin-left: 100px;">
                                    <div class="bp3-input-group bp3-large bp3-fill">
                                        <input type="text" class="bp3-input" placeholder="  search..." value="" style="padding-right: 10px; height: 40px; width: 270px;">
                                    </div> <br><br>
                                </div>                            
                             </div>
                        </div>                   
                     </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-outline-brand" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-brand">Save changes</button>
                    </div>
                    </div>
                    </div>
                    </div>
                </div>
                </div>

                <div style="margin-top: -400px;">
                    <a href="/Industry">
                        <button type="button" class="btn btn-primary btn-lg">&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;Continue &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;  &nbsp;
                        <i class="fa fa-arrow-right"></i></button>
                        </a> 
                </div> 
                              
                <h5 class="dividing-header" style="font-size: 15px;">Or do you prefer to <a>do it later</a>?</h5>
</div>

</div>    
</div>

