<div class="card">
<div class="header">
<div style="margin-top: 30px; margin-right: 800px; font-size: 15px;">Step 5 of 7</div>
</div>

<div class="container">
<p style="margin-top: -30px; font-weight: bold; font-size: 25px;">RumiLabs</p>
<!-- <img width="160" src="https://static.helloumi.com/daisho/img/logo-setup.png" alt="https://static.helloumi.com/daisho/img/logo-setup.png" class="img img-loaded"> -->
</div>
</div>

<div class="div2">
<div style="margin-top: -230px; margin-left: -200px;">
<img width="500"  src="https://static.helloumi.com/daisho/img/onboarding_preview_0.png">
</div>
<div style="margin-left: -190px; margin-top: -580px;">
<img width="550" src="https://static.helloumi.com/daisho/img/onboarding_preview_1.png">
</div>
</div>

<div style=" margin-left: 150px;">
<div class="Setup__Design">
<div class="Design__Menu">
<h3 style="margin-top: -810px;  font-size: 20px;">How do you want to use </h3>
<h5 style="font-size: 15px; ">Choose the one that better fits your company's needs</h5>
<i style=" font-size: 30px; margin-left: -120px;" onclick="history.back()" class="fa fa-arrow-circle-left" aria-hidden="true"></i>

</div>

<div style="margin-top: -730px;">
  <div id="kt-widget-slider-14-2" class="kt-slider carousel slide" data-ride="carousel" data-interval="8000">
    <div class="kt-slider__head">
    <div class="kt-slider__nav" style="margin-bottom: -20px; margin-left: 365px;">
    <a class="kt-slider__nav-prev carousel-control-prev" href="#kt-widget-slider-14-2" role="button" data-slide="prev">
    <i class="fa fa-angle-left" style="font-size: 20px;"></i>
    </a>
    <a class="kt-slider__nav-next carousel-control-next" href="#kt-widget-slider-14-2" role="button" data-slide="next">
    <i class="fa fa-angle-right" style="font-size: 20px;"></i>
    </a>
    </div>
    </div>
    <div class="carousel-inner">
    <div class="carousel-inner">
    <div class="carousel-item active">
    <div class="kt-widget-15__body">
    <div>
      <div style="margin-left: -10px;" class="grid-container"> 
        <mat-grid-list  class="kt-grid-nav-v2" inline-grid cols="3" gutterSize="10px">
            <mat-grid-tile  *ngFor="let i of info">
              <mat-card  class="kt-grid-nav-v2__item" style="width: 250px; height: 10px;">
                <mat-card-title >
                    <div class="kt-grid-nav-v2__item-icon">{{i.pic}}</div>
                </mat-card-title>
                <mat-card-content>
                  
                  <div>
                    <div class="kt-grid-nav-v2__item-title">{{i.name}}</div>    
                  </div> 
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div> 
    </div>
    </div>
    </div>
    
    <div class="carousel-item">
    <div class="kt-widget-15__body">
      <div style="margin-left: -10px;" class="grid-container"> 
        <mat-grid-list  class="kt-grid-nav-v2" inline-grid cols="3" gutterSize="10px">
            <mat-grid-tile  *ngFor="let i of info">
              <mat-card  class="kt-grid-nav-v2__item" style="width: 250px; height: 10px;">
                <mat-card-title >
                    <div class="kt-grid-nav-v2__item-icon">{{i.pic}}</div>
                </mat-card-title>
                <mat-card-content>
                  
                  <div>
                    <div class="kt-grid-nav-v2__item-title">{{i.name}}</div>    
                  </div> 
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div> 
   
    </div>
   
    </div>
    </div>
    
    </div>
    </div>
    <!-- <div style="margin-left: -50px;" class="grid-container"> 
    <mat-grid-list  class="kt-grid-nav-v2" inline-grid cols="3" gutterSize="10px">
        <mat-grid-tile  *ngFor="let i of info">
          <mat-card  class="kt-grid-nav-v2__item" style="width: 250px; height: 10px;">
            <mat-card-title >
                <div class="kt-grid-nav-v2__item-icon">{{i.pic}}</div>
            </mat-card-title>
            <mat-card-content>
              
              <div>
                <div class="kt-grid-nav-v2__item-title">{{i.name}}</div>		
              </div> 
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>  -->
<br>


<div style="margin-top: 15px;">
<a href="/Dashboard">
    <button type="button" class="btn btn-primary btn-lg">&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;Continue &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;
    <i class="fa fa-arrow-right"></i></button>
    </a>
</div>
</div>

