<div class="kt-grid kt-grid--ver kt-grid--root" style="background-color: white; height: 100vh">
    <div class="kt-error404-v1" style="margin-top: 70px;">
        <div class="kt-error404-v1__content">
            <div class="kt-error404-v1__title" style="font-family: poppins;">404</div>
            <div class="kt-error404-v1__desc" style="font-family: poppins; margin-top: 100px;"><strong style="font-family: poppins;">OOPS!</strong> Something went wrong here .</div>
        </div>
        <div class="kt-error404-v1__image" style="margin-top: -100px;">
            <mat-card id="card"  style="text-align: center;"><br>
            <img src="assets/media/misc/404-bg1.jpg" class="kt-error404-v1__image-content" alt="" title="" />
            </mat-card>
        </div>
    </div>
</div>