<div class="example-container">

    <div style="position: fixed;">
        <h6 style="margin-left: 25px; margin-top: 20px; font-family: poppins; font-size: 18px;">Templates</h6>
        <!-- <br> -->
        <mat-toolbar>&nbsp;&nbsp;&nbsp;Choose one of our templates or build a bot from scratch</mat-toolbar>
        <br>

        <select id="option" class="btn btn-secondary dropdown-toggle" name="dropdown" style="width: 200px; border-radius: 5px; margin-top: -10px; font-family: poppins; background-color: #E6E6FF; font-size: 14px; height: 40px; visibility: visible; margin-left: 25px; color: #262626e7;">
            <option value="choose">Choose an option...</option>
            <option value="date">Order by creation date</option>
            <option value="name">Order by name</option>
            <option value="likes">Order by likes</option>
          </select>

        <div class="search-hero" style="margin-left: 20px;">
            <mat-icon style="margin-left: 360px; color:#a6a6a6; position: absolute; margin-top: 10px;">search</mat-icon>

            <input class="form-control" type="text" name="search" placeholder="Search Template">
        </div>
        <button mat-flat-button class="btn">START FROM SCRATCH&nbsp;&nbsp;</button>
        
        <div style="margin-top: -30px; margin-left: -15px;">
            <button mat-button style="margin-left: 25px; font-family: poppins; font-size: 20px;">All</button>
            <div class="vl1"></div>
            <button mat-button style="margin-left: 88px; font-family: poppins; top: -35px; font-size: 20px; color: #a6a6a6;">Web</button>
            <div class="vl2"></div>
            <button mat-button style="margin-left: 167px; font-family: poppins; top: -35px; font-size: 20px; color: #a6a6a6;">WhatsApp</button>
            <div class="vl3"></div>

            <button mat-button style="margin-left: 302px; font-family: poppins; top: -35px; font-size: 20px; color: #a6a6a6;">Facebook</button>
        </div>
    </div>
    <br>
    
    <cdk-virtual-scroll-viewport itemSize="6" class="example-viewport">    
        <div *cdkVirtualFor="let i of template">
            
            <div>
                <mat-card style="width: 280px; margin-left: 30px; margin-top: -10px; height: 350px;">
                    
                    <img style="width: 282px; height: 180px; margin: -17px;" src="https://static.helloumi.com/daisho/img/product_rec_2.png">  

                    <h5 style="margin-top: 25px; font-family: poppins; font-size: 13px; color: #4D65DB;">PRODUCT LAUNCH</h5>
                    <mat-icon style="color: #464545ec; margin-left: 230px; position: absolute; margin-top: -30px; font-size: 20px;">favorite</mat-icon>
                    <h5 style="color: #757474; font-family: poppins; margin-left: 220px; margin-top: -8px;">3658</h5>

                    <span class="d-inline-block" tabindex="0" data-toggle="kt-tooltip" data-skin="dark" title="Are you planning to launch a product? A new gadget? A ground-breaking technology? Use this template to let everybody know once you do! Raise expectations and collect emails, all at the very same time, with this Product Launch template.">
                        <p style="margin-top: -10px; font-family: poppins; font-size: 13px; color: #757474;">Are you planning to launch a product? A new gadget? A ground-breaking...</p>
                    </span>
                    
                    <hr style="width: 210px; margin-top: 10px;">
                    <button mat-icon-button aria-label="Example icon-button with a heart icon">
                        <mat-icon style="color: #757474; font-size: 16px; margin-left: 17px; margin-bottom: 15px;">remove_red_eye</mat-icon>
                    </button>

                    <button mat-flat-button class="btn4">USE THIS</button> 

                </mat-card>
            </div>

            <div style="margin-left: 305px; margin-top: -355px;">
                <mat-card style="width: 280px; margin-left: 30px; margin-top: -10px; height: 355px;">
                    <img style="width: 282px; height: 180px; margin: -17px;" src="https://static.helloumi.com/daisho/img/product_rec_3.png">  

                    <h5 style="margin-top: 25px; font-family: poppins; font-size: 13px; color: #4D65DB;">PRODUCT RECOMMENDATION</h5>
                    
                    <mat-icon style="color: #464545ec; margin-left: 230px; position: absolute; margin-top: -30px; font-size: 20px;">favorite</mat-icon>
                    <h5 style="color: #757474; font-family: poppins; margin-left: 220px; margin-top: -8px;">3658</h5>

                    <span class="d-inline-block" tabindex="0" data-toggle="kt-tooltip" data-skin="dark" title="Are you planning to launch a product? A new gadget? A ground-breaking technology? Use this template to let everybody know once you do! Raise expectations and collect emails, all at the very same time, with this Product Launch template.">
                        <p style="margin-top: -10px; font-family: poppins; font-size: 13px; color: #757474;">Many users don't really know what they are looking for then landing</p>
                    </span>

                    <hr style="width: 210px; margin-top: 10px;">
                    <button mat-icon-button aria-label="Example icon-button with a heart icon">
                       <mat-icon style="color: #757474; font-size: 16px; margin-left: 17px; margin-bottom: 15px;">remove_red_eye</mat-icon>
                     </button>

                     <button mat-flat-button class="btn4">USE THIS</button> 

                </mat-card>
            </div>

            <div style="margin-left: 610px; margin-top: -355px;">
                <mat-card style="width: 280px; margin-left: 30px; margin-top: -10px; height: 355px;">
                    <img style="width: 282px; height: 180px; margin: -17px;" src="https://static.helloumi.com/daisho/img/survey_1.png">  

                    <h5 style="margin-top: 25px; font-family: poppins; font-size: 13px; color: #4D65DB;">GENERAL SURVEY</h5>

                    <mat-icon style="color: #464545ec; margin-left: 230px; position: absolute; margin-top: -30px; font-size: 20px;">favorite</mat-icon>
                    <h5 style="color: #757474; font-family: poppins; margin-left: 220px; margin-top: -8px;">3658</h5>

                    <span class="d-inline-block" tabindex="0" data-toggle="kt-tooltip" data-skin="dark" title="Are you planning to launch a product? A new gadget? A ground-breaking technology? Use this template to let everybody know once you do! Raise expectations and collect emails, all at the very same time, with this Product Launch template.">
                        <p style="margin-top: -10px; font-family: poppins; font-size: 13px; color: #757474;">If a conversation is the best way to get information from your visitors</p>
                    </span>

                    <hr style="width: 210px; margin-top: 10px;">
                    <button mat-icon-button aria-label="Example icon-button with a heart icon">
                       <mat-icon style="color: #757474; font-size: 16px; margin-left: 17px; margin-bottom: 15px;">remove_red_eye</mat-icon>
                     </button>

                     <button mat-flat-button class="btn4">USE THIS</button> 

                </mat-card>
            </div>
            <br><br>
        </div>
    </cdk-virtual-scroll-viewport>
</div>