<div class="card">
<div class="header">
<div style="margin-top: 30px; margin-right: 800px; font-size: 15px; font-family: poppins;">Step 2 of 7</div>
</div>

<div class="container">
<p style="margin-top: -30px; font-weight: bold; font-size: 25px; font-family: poppins;">RumiLabs</p>
<!-- <img width="160" src="https://static.helloumi.com/daisho/img/logo-setup.png" alt="https://static.helloumi.com/daisho/img/logo-setup.png" class="img img-loaded"> -->
</div>
</div>

<div class="div2">
<div style="margin-top: -230px; margin-left: -200px;">
<img width="500"  src="https://static.helloumi.com/daisho/img/onboarding_preview_0.png">
</div>
<div style="margin-left: -190px; margin-top: -580px;">
<img width="550" src="https://static.helloumi.com/daisho/img/onboarding_preview_1.png">
</div>
</div>

<div style=" margin-left: 150px;">
    <div class="Setup__Design">
        <div class="Design__Menu">
        <h3 style="margin-top: -800px;font-family: poppins; font-size: 20px;">How should your landbot look like?</h3>
        <h5 style="font-size: 15px; font-family: poppins;">Choose a color that matches your website</h5>
        <i  style=" font-size: 30px; margin-left: -120px;" onclick="history.back()" class="fa fa-arrow-circle-left" aria-hidden="true"></i>   
    </div>
       <div class="colorsContainer">
           <div style="margin-top: -700px; font-family: poppins;">
        <button class="colorButton" style=" background: rgb(0, 118, 255); box-shadow: rgb(241, 241, 251) 0px 0px 0px 1px;"></button>
        <button class="colorButton" style="background: rgb(241, 25, 82); box-shadow: rgb(241, 241, 251) 0px 0px 0px 1px;"></button>
        <button class="colorButton" style="background: rgb(243, 184, 6); box-shadow: rgb(241, 241, 251) 0px 0px 0px 1px;"></button><button class="colorButton" style="background: rgb(1, 205, 106); box-shadow: rgb(241, 241, 251) 0px 0px 0px 1px;"></button><button class="colorButton" style="background: rgb(119, 126, 255); box-shadow: rgb(241, 241, 251) 0px 0px 0px 1px;"></button><button class="colorButton" style="background: rgb(64, 78, 84); box-shadow: rgb(241, 241, 251) 0px 0px 0px 1px;"></button><button class="colorButton colorButton--picker"></button>
        </div><br>

        <p class="dividing-header" style="font-size: 20px;">Style</p><br><br>
        <div class="styleContainer">
            <div class="card" style="width: 150px; height: 150px;"><br><br>
            <div><p class="style-emoji">👟</p><br><p>CASUAL</p></div>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card" style="width: 150px; height: 150px;"><br><br>
            <div><p class="style-emoji">👠</p><br><p>ELEGANT</p></div>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card" style="width: 150px; height: 150px;"><br><br>
            <div class="selected"><p class="style-emoji">🕶</p><br><p>COOL</p></div>
            </div>
        </div><br>

        <div class="switch-field"><br>
            <input type="radio" id="radio-one" name="switch-one" value="yes" checked/>
            <label for="radio-one">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dark&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br></label>
            <input type="radio" id="radio-two" name="switch-one" value="no" />
            <label for="radio-two">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Light&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br></label>
        </div><br>
         
        <a href="/Avatar">
            <button type="button" class="btn btn-primary btn-lg">&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;Continue &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;
            <i class="fa fa-arrow-right"></i></button>
            </a>
</div>
</div>
<!-- 
<div style="margin-top: -700px; margin-left: 150px;">
<div class="Setup__Design"><div class="Design__Menu">
<h3>How should your landbot look like?</h3>
<h5>Choose a color that matches your website</h5>
<div class="colorsContainer">
<button class="colorButton" style="background: rgb(0, 118, 255); box-shadow: rgb(241, 241, 251) 0px 0px 0px 1px;"></button>
<button class="colorButton" style="background: rgb(241, 25, 82); box-shadow: rgb(241, 241, 251) 0px 0px 0px 1px;"></button>
<button class="colorButton" style="background: rgb(243, 184, 6); box-shadow: rgb(241, 241, 251) 0px 0px 0px 1px;"></button><button class="colorButton" style="background: rgb(1, 205, 106); box-shadow: rgb(241, 241, 251) 0px 0px 0px 1px;"></button><button class="colorButton" style="background: rgb(119, 126, 255); box-shadow: rgb(241, 241, 251) 0px 0px 0px 1px;"></button><button class="colorButton" style="background: rgb(64, 78, 84); box-shadow: rgb(241, 241, 251) 0px 0px 0px 1px;"></button><button class="colorButton colorButton--picker"></button>
</div>
<p class="dividing-header">Style</p>
<div class="styleContainer"><div>
<p class="style-emoji">👟</p>
<p>CASUAL</p></div><div>
<p class="style-emoji">👠</p><p>ELEGANT</p>
</div><div class="selected"><p class="style-emoji">🕶</p>
<p>COOL</p></div></div><div class="brightness">
<button type="button" class="bp3-button bp3-fill bp3-large brightness__button selectedButton">
<span class="bp3-button-text">Dark</span></button><button type="button" class="bp3-button bp3-fill bp3-large brightness__button"><span class="bp3-button-text">Light</span>
</button>
</div>

</div>  
</div>
</div> -->
