

 
  
  
 
<mat-grid-list cols="40"  rowHeight="66px" style="margin-left: 32px;"> 


    <mat-grid-tile   colspan="9" rowspan="8.5" class="row2"> 
       
       
        <!-- <button type="button"  style= "margin-bottom: -5px; margin-left:60% ;" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-sm btn-clean btn-bold btn-upper" ><i class=" flaticon-attachment" style="color:black;font-size: 20px;"></i></button> -->
                         
        
      
            <!-- <button type="button" class="btn btn-outline-brand btn-bold btn-font-sm btn-upper" data-toggle="modal" data-target="#kt_blockui_4_1_modal">Default</button> -->
       
           
            
       

        <!-- <mat-grid-tile-header style="background: white ;">
           
            </mat-grid-tile-header>  --> 

           
                <div class="card-body"  style="width: 100%;height:100%;">
                    <mat-toolbar style="background:#4C67D8;color:white;width:130%;margin-left:-17px;margin-top: -23px;height: 60px;">
                        <mat-toolbar-row>                   
                            <!-- <span class = "gap">All</span> -->
                            <!-- <h6 style="font-size: 15px;">All</h6> -->
                                
                        <div>
                            
                            <a style="margin-left: 0px;"mat-button [routerLink]="'/Dashboard/exampletable/chatinterface'">All </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            
                            <a mat-button [routerLink]="'/Dashboard/exampletable/createvariables'">Filter </a>
                           
                          </div>
                        </mat-toolbar-row>
                          
                     </mat-toolbar> 
                     <div style="margin-left:20px;height: 88vh;">
                    
                        <router-outlet></router-outlet>
                      </div>
                    
                 
            </div>
    </mat-grid-tile> 
   
    <mat-grid-tile colspan="22" rowspan="8.5" class="row4">
        

            
            <div class="card"  style="width:100%;height:58px;margin-top: -545px;">
                <div class="card-body" >
                    <!-- <p style="color: #57597B;font-size: 18px !important; font-weight: 700; margin-left: 20px; margin-bottom: 0px;" >Visitor #30569253</p> -->
                    <p style="color: #57597B;font-size: 14px !important; font-weight: 500;  margin-bottom: 10px; margin-left: 20px;" ><span style="font-size: 20px !important; font-weight: 600;margin-top: -20px;">Visitor #30569253</span><span style="margin-top: 0px;margin-left: 30%;" >Assign to:</span></p>
                    <div class="dropdown dropdown-inline" style="margin-left: 67%;">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: #EBF1F5; margin-top: -55px !important;">
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 350px; padding:20px " >
                            <a style="margin-left:0px;"><strong style="color:#9A9CAF;font-weight: 500;"> AGENTS</strong> </a>
                            
                            <div class="dropdown-divider"></div>

                            <div class="form-group" >
                               
                                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Search agents">


                                
                            </div>
                            <div><a style="margin-left:0px;"><strong style="color:#9A9CAF;font-weight: 500;">ACTIVE AGENTS</strong></a></div>&nbsp;&nbsp;&nbsp;
                           <div ><a class="dropdown-item"><strong style="margin-top:-35px;margin-left:0px;color:#57597B;font-weight: 500; font-size: 14px;"><img  style="border-radius: 50%; width:40px;margin-left:-20px ;"  src="https://storage.googleapis.com/media.helloumi.com/avatars/default/1.png">&nbsp;&nbsp;&nbsp;&nbsp;  Rohan Gautam</strong></a></div>
                           <div ><a class="dropdown-item"><strong style="margin-top:-35px;margin-left:0px;color:#57597B;font-weight: 500; font-size: 14px;"><img  style="border-radius: 50%; width:40px;margin-left:-20px ;"  src="https://storage.googleapis.com/media.helloumi.com/avatars/default/1.png">&nbsp;&nbsp;&nbsp;&nbsp;  Rajesh Kumar</strong></a></div>
                          
                        </div>
                    </div>&nbsp;

                    
                    <button style="background:#EBF1F5;margin-top: -55px !important;" type="button" class="btn btn-secondary"><strong style="color: #57597B;  font-weight: 500;" >CLOSE</strong></button>&nbsp;
               
                    <div class="dropdown dropdown-inline">
                        <a href="#" class="btn btn-hover-info btn-elevate-hover btn-icon btn-icon-md " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="background: #EBF1F5; margin-top: -55px !important; border: 1px solid #EBF1F5;">
                            <span style="color:#57597B"><i class=" fa fa-grip-lines-vertical"></i></span>
                        </a>
                        <div class="dropdown-menu" style="width: 350px; padding:20px " >
                            <a style="margin-left:0px;"><strong style="color:#9A9CAF;font-weight: 500;"> PAUSE THIS CONVERSATION</strong> </a>
                            
                            <div class="dropdown-divider"></div>
                            <div><a class="dropdown-item"><span class="dot"></span>
                            <p style="margin-top: -25px; margin-left:-15px;font-size: 15px font-weight 500; " > &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<span style="color:#57597B;font-weight: 500; font-size: 15px;" > 2 hours </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#B4B4C4;font-size: 15px;font-weight: 500;  ">15:45</span></p></a>
                          </div>

                          <div><a class="dropdown-item">
                            <span class="dot1"></span>
                            <p style="margin-top: -25px; margin-left:-15px;font-size: 15px font-weight 500; " > &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<span style="color:#57597B;font-weight: 500; font-size: 15px;" > one day</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#B4B4C4;font-size: 15px;font-weight: 500;  "> Monday at 17:45</span></p></a>
                            </div>
                            
                            <div><a class="dropdown-item">
                            <span class="dot2"></span>
                            <p style="margin-top: -25px; margin-left:-15px;font-size: 15px font-weight 500; " > &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<span style="color:#57597B;font-weight: 500; font-size: 15px;" > one week </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#B4B4C4;font-size: 15px;font-weight: 500;  ">Wed 9th at 11:45</span></p></a>
                        </div>

                            <div><a class="dropdown-item">
                            <span class="dot3"></span>
                            <p style="margin-top: -25px; margin-left:-15px;font-size: 15px font-weight 500; " > &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<span style="color:#57597B;font-weight: 500; font-size: 15px;" > one month </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#B4B4C4;font-size: 15px;font-weight: 500;  ">Fri,May 5th at 12:47</span></p></a>
                        </div>

                        <div><a class="dropdown-item">
                            <span class="dot4"></span>
                            
                            <div  style="margin-top: -30px; margin-left: 10px;">
                                <input type="text" class="form-control" placeholder="Custom"id="kt_datetimepicker_1" />
                                
                                    
                               
                            </div>
                           
                           </a></div>
                        
                        
                        </div>
                    </div>


                    
                
                </div>
            </div>

           

             
            <mat-grid-tile-footer style="height:150px;  background:lightgray ;">
                <div class="card" style="width:98%; height: 130px; margin-bottom: 0px; margin-left: 8px;">
        
                    <div class="card-body">
                        <!-- <input type="text" name="textField" class="form-control" id="recipient-name"  style="width:100;height: auto;"/> -->
                        <textarea type="text" data-toggle="modal" data-target="#kt_blockui_4_1_modal5"   class="form-control" id="texta" rows="2"placeholder="Double click to use shortcuts" style="width:100;border: none;"></textarea>
                        <!-- <input type="text" name="textField" /> -->
                       
                      <div class="dropdown-divider" style="margin-top: 5px;"></div>
                        <button style="background:#F1F2F5; margin-bottom: -5px;color: #57597B;  font-weight: 500;" type="button" class="btn btn-secondary "data-text-swap="Cancel Note" >Private Note</button>
                    
                        <!-- <button style= "margin-bottom: -150px; margin-left:60% ;" type="button" (click)="showCreatevariables()" class="btn btn-outline-brand btn-bold btn-font-sm btn-upper"   ><i class="flaticon-tool-1"></i></button> -->
                       
                        <button type="button"  style= "margin-bottom: 0px; margin-left:50% ; width:25px" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-sm btn-clean btn-bold btn-upper" ><i class=" flaticon-attachment" style="color:black;font-size: 15px;margin-left: -8px;"></i></button>

                        <button type="button"  style= "margin-bottom: 0px; margin-left:0px; width:25px"  class="btn btn-sm btn-clean btn-bold btn-upper" ><i class=" la la-meh-o" style="color:black;font-size: 20px;margin-left: -8px;margin-top: 5x;"></i></button>
                        <!-- <i class=" la la-meh-o"   style="font-size: 20px;"></i> -->
                        <!-- <button style="margin-bottom: -5px; margin-left: 20px;"    type="submit"  class="btn btn-primary" value="send"><strong style="  font-weight: 500;" >send</strong></button> -->
                        <input  style="margin-bottom: -5px; margin-left:10px;background: #4F6EE4;" type="submit"  class="btn btn-primary" value="Send it!" />
                    </div>


                </div>
                
                               <!-- </div>  -->


                              
                        <!-- send media -->
                       
                            

            </mat-grid-tile-footer>
      
    </mat-grid-tile>
    
    <mat-grid-tile colspan="9" rowspan="8.5" class="row6">
        <div class="card" style="width: 100%;height:100%; margin-top: -00px; background:#F9F9F9; overflow-y: auto; ">
        
            <div class="card-body">
               
                <div class="dropdown dropdown-inline" style="margin-left: 90%;">
                    <button type="button" class="btn btn-clean btn-icon btn-sm btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="flaticon2-gear"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" style="width: 220px;">
                        <a style="margin-left:20px;"><i ></i> USER OPTIONS</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"  data-toggle="modal" data-target="#kt_blockui_4_1_modal4"><i class="flaticon-multimedia-4"></i> Download chat as TXT</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#kt_blockui_4_1_modal4"><i class="la la-user"></i> Block user</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#kt_blockui_4_1_modal3"><i class="flaticon-delete"></i>Remove user</a>
                        
                       
                    </div>
                </div>
                
               
               <!-- delete user -->

               
                <img  style="border-radius: 50%; width:130px;margin-left:50px ; margin-top:20px"  src="https://cdn1.iconfinder.com/data/icons/user-interface-2-blue-filled-line/24/user_interface_ui_app_web_chat_message-512.png">&nbsp;&nbsp;&nbsp;
                 <h3 style="color:#4B486F;font-weight: 500;margin-top:10px;text-align: center;">Visitor #30569253</h3>
                 <p style="margin-left: 30px;color:#4B486F">Last seen at <strong style="font-weight: 500;">Mar 27, 07:20</strong>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; in <strong style="font-weight: 500;">India</strong></p>
                <div class="card" style="margin-top: 10px;">
                
                    <div class="card-body">
                        <h2 style="color: #78D69A;font-size: 14px !important; "><span > 🧑 LEAD DETAILS</span></h2>
                        <p class="para">Name &nbsp;&nbsp;&nbsp;<input type="text" placeholder="Edit" style="width:100px;border: none;"></p> 
                        <p class="para">Email &nbsp;<input type="text" placeholder="rohan@ruminationlabs.com" style="color: #57597B; font-size: 14px; font-weight: 500;width:110px;border: none;"></p>
                          <p class="para">Company &nbsp;&nbsp;&nbsp; <input type="text" placeholder="Edit" style="width:80px;border: none;"></p>
                          <p class="para">Phone &nbsp;&nbsp;&nbsp; <input type="text" placeholder="Edit" style="width:100px;border: none;"></p>
                         
                    </div>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                <div class="card" >
                    
                    <div class="card-body">
                        <h2 style="color: #C696F5;font-size: 14px !important; font-weight: 500;" ><span >👨‍💻 USAGE DETAILS</span></h2>
                      <p class="para">Last seen &nbsp; <strong style="color: #57597B; font-size: 14px; font-weight: 500;"> Mar 27, 07:20 </strong></p>
                      <p class="para"> Created &nbsp;&nbsp;&nbsp; <strong style="color: #57597B; font-size: 14px;font-weight: 500;"> Mar 27, 07:20 </strong></p>
                        <p class="para">Browser &nbsp; <strong style="color: #57597B; font-size: 14px; font-weight: 500;"> Chrome Mobile </strong></p>
                        <p class="para">Device &nbsp;&nbsp;&nbsp; <strong style="color: #57597B; font-size: 14px; font-weight: 500;"> Mac</strong></p>
                        <p class="para">OS &nbsp;&nbsp;&nbsp; <strong style="color: #57597B; font-size: 14px; font-weight: 500;"> Mac OS X </strong></p>
                    </div>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
                <!--  Variables popup window -->

                <div class="card" >
                    <div class="card-body">
                       <h2 style="color: #4990E2;font-size: 14px !important; font-weight: 500;" ><span >👓 VARIABLES </span></h2>
                      
                     <!-- create popup window -->
                       <button type="button"  style="margin-left: 120px; margin-top: -80px;"  data-toggle="modal" data-target="#kt_blockui_4_1_modal1" class="btn btn-sm btn-clean btn-bold btn-upper" ><i class="flaticon2-edit" style="color:black"></i></button>
                      
                      
                       
                      

                       <!-- Edit popup window  -->

                       <button type="button"   data-toggle="modal" data-target="#kt_blockui_4_1_modal2" class="btn btn-sm btn-clean btn-bold btn-upper" style="color:#57597B;font-weight: 500; margin-top: -40px; margin-left: -10px;" ><span style="color:#B4B4C4;">welcome</span> &nbsp;&nbsp;&nbsp; Stocked!</button>
                       
                           
                      
                    </div>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
                <div class="card"  style="margin-bottom: 100px;">
                    <div class="card-body">
                        <h2 style="color: #F4A847;font-size: 14px !important; font-weight: 500;" ><span >📓 NOTES </span></h2>
                        <input type="text" class="form-control" id="recipient-name" placeholder="Add a note" style="overflow: scroll;width:170px">
                    
                    </div>
                </div>
            </div>
        </div>
       
    </mat-grid-tile>
    </mat-grid-list>





   