<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 style="font-family: poppins; font-size: 18px;">Are you sure you want to delete this bot?</h1>
    </header><br><br>
    <mat-divider style="width: 900px; margin-left: -40px;"></mat-divider><br>
    <!-- <section id="modal-ody">
        <p>If you logout bad things might happen, but don't mind me, I'm just the description in a modal...</p>
    </section> -->
    <footer>
        <button class="btn btn-outline-brand" style="margin-left: 300px; width: 80px" (click)="closeModal()">Close</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-outline-brand" style="width: 80px" (click)="actionFunction()">Delete</button>
    </footer>
</div>