

    <a  class="kt-widget-15__foot-label btn btn-sm btn-label-brand btn-bold" style="font-size: 11px;height:32px;margin-top: 10px;margin-left:-20px ;" mat-button [routerLink]="'/Dashboard/exampletable/filter'"><span style="margin-top:-20px">Apply </span></a>&nbsp;&nbsp;&nbsp;&nbsp;
       


<button type="button"  style="margin-left: 60px; margin-top: -7px;" class="kt-widget-15__foot-label btn btn-sm btn-label-brand btn-bold" >Deselect</button>

<div class="dropdown-divider" style="width:400px;margin-left: -40px;margin-top: 10px;"></div>
<div style="margin-left: -20px;">
<label class="kt-checkbox" style="font-weight:500 ;">
    <input type="checkbox" > 
    Assign to
    <span></span>
</label><br>
<label class="kt-checkbox" style="font-weight:500 ;">
    <input type="checkbox"> 
    Unassigned
    <span></span>
</label><br>
<label class="kt-checkbox" style="font-weight:500 ;">
    <input type="checkbox"> 
    Opened
    <span></span>
</label><br>
<label class="kt-checkbox" style="font-weight:500 ;">
    <input type="checkbox"> 
    Closed
    <span></span>
</label><br>
<label class="kt-checkbox" style="font-weight:500 ;">
    <input type="checkbox"> 
    Finished
    <span></span>
</label><br>
<label class="kt-checkbox" style="font-weight:500 ;">
    <input type="checkbox"> 
Blocked
    <span></span>
</label><br>
<label class="kt-checkbox" style="font-weight:500 ;">
    <input type="checkbox"> 
    Paused
    <span></span>
</label>
</div>

