
<div class="kt-grid kt-grid--hor kt-grid--root" style="position: fixed;" ><br><br>
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper">


<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">


<div class="row" >
<div class="col-xl-4 col-lg-6" style="" *ngFor="let i of person">

<div class="kt-portlet kt-portlet--height-fluid" style="font-family: poppins;">
<div class="kt-widget kt-widget--general-2">
<div class="kt-portlet__body kt-portlet__body--fit">
<div class="kt-widget__top">
<div class="kt-media kt-media--lg kt-media--circle">
<img src= "{{i.photo}}" alt="image">
</div>
<div class="kt-widget__wrapper">
<div class="kt-widget__label">
<a style="font-family: poppins;" href="#" class="kt-widget__title">
{{i.name}}
</a>
<span class="kt-widget__desc">
{{i.timestamp}}
</span>
</div>
<div class="kt-widget__toolbar">
<div style="margin-top: 15px;">
<div style="margin-top: -45px; margin-left: 135px; ">
<button type="button" class="btn btn-hover-brand btn-elevate-hover btn-icon btn-sm btn-icon-md btn-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<span class="d-inline-block" tabindex="0" data-toggle="kt-tooltip" data-placement="bottom" data-skin="dark" title="More actions">
<i class="flaticon-more-1"></i>
</span>
</button>
<div class="dropdown-menu dropdown-menu-right">
<a class="dropdown-item" href="#"><i class="la la-plus"></i>Duplicate</a>
<a class="dropdown-item" href="#"><i class="la la-user"></i>Open Bot</a>
<a class="dropdown-item" href="#"><i class="la la-cloud-download"></i>Rename</a>
<a class="dropdown-item" href="#"><i class="la la-cloud-download"></i>Disable Bot</a>
<a class="dropdown-item" href="#"><i class="la la-cloud-download"></i>Move To</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="#"><i class="la la-cog"></i> Delete</a>
</div>
</div>&nbsp;&nbsp;&nbsp;
<div  style="margin-top: -50px; margin-left: 174px;">
<button type="button" class="btn btn-hover-brand btn-elevate-hover btn-icon btn-sm btn-icon-md btn-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<span class="d-inline-block" tabindex="0" data-toggle="kt-tooltip" data-placement="bottom" data-skin="dark" title="View chats">
<i class="flaticon-chat-1"></i>
</span>
</button>
</div>
<div style="margin-top: -35px; margin-left: 210px;">
<button type="button" class="btn btn-hover-brand btn-elevate-hover btn-icon btn-sm btn-icon-md btn-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<span class="d-inline-block" tabindex="0" data-toggle="kt-tooltip" data-placement="bottom" data-skin="dark" title="View metrics">
<i class="flaticon2-graphic-1"></i>
</span>
</button>
</div>
</div>

</div>
</div>
</div>
<div class="kt-widget__bottom" style="font-family: poppins;">
<div class="kt-widget__actions">
<div style="margin-left: 160px;">
<a href="#" class="btn btn-default btn-sm btn-bold btn-upper">chats</a>
<a href="custom/profile/overview-1.html" target="_blank" class="btn btn-default btn-sm btn-bold btn-upper">Leads</a>
<a href="custom/profile/overview-1.html" target="_blank" class="btn btn-default btn-sm btn-bold btn-upper">Finished</a>
</div>
</div>
</div>
</div>
</div>
</div>

</div>

</div><br/><br/>


<!-- <div class="kt-pagination kt-pagination--brand kt-margin-t-10">
<ul class="kt-pagination__links">
<li class="kt-pagination__link--first">
<a href="#"><i class="fa fa-angle-double-left"></i></a>
</li>
<li class="kt-pagination__link--next">
<a href="#"><i class="fa fa-angle-left"></i></a>
</li>
<li>
<a href="#">...</a>
</li>
<li>
<a href="#">29</a>
</li>
<li>
<a href="#">30</a>
</li>
<li class="kt-pagination__link--active">
<a href="#">32</a>
</li>
<li>
<a href="#">34</a>
</li>
<li>
<a href="#">...</a>
</li>
<li class="kt-pagination__link--prev">
<a href="#"><i class="fa fa-angle-right"></i></a>
</li>
<li class="kt-pagination__link--last">
<a href="#"><i class="fa fa-angle-double-right"></i></a>
</li>
</ul>
<div class="kt-pagination__toolbar">
<select class="form-control" style="width: 60px;">
<option value="10">10</option>
<option value="20">20</option>
<option value="30">30</option>
<option value="50">50</option>
<option value="100">100</option>
</select>
<span class="pagination__desc">
10 of 230
</span>
</div>  
</div>  -->

</div>

</div>

</div>
</div>
</div>

<!-- <div id="kt_scrolltop" class="kt-scrolltop">
<i class="fa fa-arrow-up"></i>
</div> -->
