<div class="card">
    <div class="header">
    <div style="margin-top: 30px; margin-right: 800px; font-size: 15px; font-family: poppins;">Step 4 of 7</div>
    </div>
    
    <div class="container">
    <p style="margin-top: -30px; font-weight: bold; font-size: 25px; font-family: poppins;">RumiLabs</p>
    <!-- <img width="160" src="https://static.helloumi.com/daisho/img/logo-setup.png" alt="https://static.helloumi.com/daisho/img/logo-setup.png" class="img img-loaded"> -->
    </div>
    </div>
    
    <div class="div2">
    <div style="margin-top: -230px; margin-left: -200px;">
    <img width="500"  src="https://static.helloumi.com/daisho/img/onboarding_preview_0.png">
    </div>
    <div style="margin-left: -190px; margin-top: -580px;">
    <img width="550" src="https://static.helloumi.com/daisho/img/onboarding_preview_1.png">
    </div>
    </div>
    
    <div style=" margin-left: 150px;">
    <div class="Setup__Design">
    <div class="Design__Menu">
    <h3 style="margin-top: -810px; margin-left: -50px; font-size: 19px; font-family: poppins;">What's your company industry?</h3>
    <h5 style="font-size: 14px; margin-left: -50px; font-family: poppins;">We need this to customize your experience</h5>
    <i  style=" font-size: 30px; margin-left: -120px;" onclick="history.back()" class="fa fa-arrow-circle-left" aria-hidden="true"></i>  
  </div>
    
    <div style="margin-top: -700px;">
        <div style="margin-left: -50px;" class="grid-container">
        <mat-grid-list  class="kt-grid-nav-v2"  inline-grid cols="3" gutterSize="10px">
            <mat-grid-tile   *ngFor="let i of info1">
              <mat-card  class="kt-grid-nav-v2__item" style="width: 250px;font-family: poppins; height: 10px;">
                <mat-card-title >
                    <div class="kt-grid-nav-v2__item-icon">{{i.pic}}</div>
                </mat-card-title>
                <mat-card-content>
                  
                  <div>
                    <div class="kt-grid-nav-v2__item-title">{{i.name}}</div>		
                  </div>  
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <br>
    
    
    <div style="margin-top: 15px; margin-left: -45px; font-family: poppins;">
    <a href="/Usecase">
        <button type="button" class="btn btn-primary btn-lg" style="width: 440px;">&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;Continue &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;
        <i class="fa fa-arrow-right"></i></button>
        </a>
    </div>
    </div>
    
    